# Project Folders
.DS_Store
.vscode
venv/

# Hide Inputs
# (Refer to adventofcode.com to get your own inputs)
Data/
Test/

# Subreddit Help
Help/
Reference/

# Python Folder
__pycache__/
*.pyc

# C++ folder
CMakeCache.txt
CMakeFiles
*.cmake
Makefile
advent2020
build/
