# Project Folders
.DS_Store
.vscode

# Hide Inputs
# (Refer to adventofcode.com to get your own inputs)
Data/
Test/
input/
output/

# Subreddit Help
Help/
Reference/

# Python Folder
__pycache__/
*.pyc
env/
.venv/

# C++ folder
CMakeCache.txt
CMakeFiles
*.cmake
2020_Cpp/Makefile
advent2020
build/

# Rust folder
target/

# Secrets
session.cookie
